/* Styling the Footer Component */

footer{
    background-color: #1b4965;
    padding:5px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
}
 
.copyright{
    font-size: large;
    font-weight: 300;
    color:white;
    text-align: center;
}

/* Responsive Styling */
@media screen and (max-width:600px){
    .copyright{
        font-size: medium;
    }
}

@media screen and (min-width:601px) and (max-width: 1023px){ /* For Tablets and Ipads*/
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}