/* Styling the Login Page */

.loginContainer , .signUpContainer{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goHomeBtn{
    font-size: large;
    font-weight: 400;
    cursor:pointer;
    padding:10px;
    background-color: #fff;
    border:2px solid #1b4965;
    border-radius: 10px;
}

